<a href="https://colab.research.google.com/github/EliGorniak/KDD_Cup2009_MachineLearning_Kaggle_Project/blob/main/KDD_Cup_2009_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Estudo de caso: KDD Cup 2009

A Administração de Relacionamento com o Consumidor é um elemento-chave das estratégias modernas de marketing. A maneira mais prática de adquirir conhecimento sobre consumidores é produzindo pontuações. Uma pontuação é a saída de um modelo e serve como avaliação de todas as instâncias de uma variável-alvo que se pretenda explicar. Ferramentas que produzem pontuações permitem projetar informações quantificáveis em uma dada população. A pontuação é calculada usando variáveis de entrada que descrevem as instâncias. As pontuações são então usadas pelo sistema de informação, por exemplo, para personalizar o relacionamento com o consumidor.

Em 2009, a conferência Knowledge Discovery and Data Mining (KDD) lançou um desafio envolvendo aprendizagem de máquina. Ela disponibilizou dados de consumidores da empresa de telecomunicações francesa Orange, que deveriam ser utilizados para a construção de um modelo capaz de prever três comportamentos do consumidor. A planilha fornecida tem 50000 instâncias e 230 variáveis, sendo as primeiras 190 variáveis numéricas e as demais 40 categóricas. As variáveis de saída do modelo eram o cancelamento da conta ('churn'), a tendência de usar novos produtos e serviços ('appetency') e a propensão para comprar upgrades ou adicionais com maior margem de lucro quando apresentados (upselling), fornecidos de forma binária (-1 para *não*, 1 para *sim*).

O trabalho apresentado aqui envolve a criação de um modelo para predição de *churn*, *appetency* e *upselling* com base nos dados fornecidos dos clientes da Orange. O critério para avaliação do modelo será a métrica AUC, que dimensiona o trade-off entre taxa de falsos positivos e taxa de verdadeiros positivos: quanto mais próximo de 1, menor o trade-off e melhor o modelo.

Detalhes sobre a competição: https://www.kdd.org/kdd-cup/view/kdd-cup-2009

# Etapa 1: Modelando 'churn' (cancelamento da conta)

### a. Importando as dependências

In [5]:
import pandas as pd
import numpy as np
from sklearn.ensemble import ExtraTreesClassifier, RandomForestClassifier, GradientBoostingClassifier # algoritmos de classificação
from matplotlib import pyplot as plt # plotagem de gráficos
from sklearn.metrics import  roc_auc_score # AUC será a métrica de avaliação exigida na competição
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV # testar a performance dos modelos

### b. Carregando os dados

In [7]:
# definindo as variáveis que vão receber os dados
features = pd.read_csv('/orange_small_train.data', sep = '\t', na_filter = False) # sep é o separador, \t é uma tabulação, na_filter = False não vai remover os atributos com valores faltantes
outcome = pd.read_csv('/orange_small_train_churn.labels', header= None) # outcome são as respostas, header = None significa que não há um header para dar nome pras colunas

In [8]:
# verificando o tamanho do dataset
features.shape

(50000, 230)

In [19]:
features.head(10)

  Var1 Var2 Var3 Var4  ...   Var227                  Var228 Var229 Var230
0                      ...     RAYp           F2FyR07IdsN7I
1                      ...     RAYp           F2FyR07IdsN7I
2                      ...  02N6s8f           ib5G6X1eUxUn6   am7c
3                      ...     RAYp           F2FyR07IdsN7I
4                      ...     RAYp           F2FyR07IdsN7I   mj86
5                      ...  02N6s8f                 Zy3gnGM   am7c
6                      ...     RAYp                 55YFVY9   am7c
7                      ...     RAYp           F2FyR07IdsN7I
8                      ...     6fzt  am14IcfM7tWLrUmRT52KtA   am7c
9                      ...     RAYp                 55YFVY9

[10 rows x 230 columns]

In [11]:
outcome.head()

   0
0 -1
1  1
2 -1
3 -1
4 -1

In [13]:
# verificando os valores únicos do dataset
np.unique(outcome)

array([-1,  1])

### c. Identificando as variáveis numéricas e categóricas

In [16]:
# variavel que vai armazenar o nome de todas as colunas (ou features)
all_vars = np.array(features.columns)
all_vars

array(['Var1', 'Var2', 'Var3', 'Var4', 'Var5', 'Var6', 'Var7', 'Var8',
       'Var9', 'Var10', 'Var11', 'Var12', 'Var13', 'Var14', 'Var15',
       'Var16', 'Var17', 'Var18', 'Var19', 'Var20', 'Var21', 'Var22',
       'Var23', 'Var24', 'Var25', 'Var26', 'Var27', 'Var28', 'Var29',
       'Var30', 'Var31', 'Var32', 'Var33', 'Var34', 'Var35', 'Var36',
       'Var37', 'Var38', 'Var39', 'Var40', 'Var41', 'Var42', 'Var43',
       'Var44', 'Var45', 'Var46', 'Var47', 'Var48', 'Var49', 'Var50',
       'Var51', 'Var52', 'Var53', 'Var54', 'Var55', 'Var56', 'Var57',
       'Var58', 'Var59', 'Var60', 'Var61', 'Var62', 'Var63', 'Var64',
       'Var65', 'Var66', 'Var67', 'Var68', 'Var69', 'Var70', 'Var71',
       'Var72', 'Var73', 'Var74', 'Var75', 'Var76', 'Var77', 'Var78',
       'Var79', 'Var80', 'Var81', 'Var82', 'Var83', 'Var84', 'Var85',
       'Var86', 'Var87', 'Var88', 'Var89', 'Var90', 'Var91', 'Var92',
       'Var93', 'Var94', 'Var95', 'Var96', 'Var97', 'Var98', 'Var99',
       'Var100', 'Var101', 'Var102', 'Var103', 'Var104', 'Var105',
       'Var106', 'Var107', 'Var108', 'Var109', 'Var110', 'Var111',
       'Var112', 'Var113', 'Var114', 'Var115', 'Var116', 'Var117',
       'Var118', 'Var119', 'Var120', 'Var121', 'Var122', 'Var123',
       'Var124', 'Var125', 'Var126', 'Var127', 'Var128', 'Var129',
       'Var130', 'Var131', 'Var132', 'Var133', 'Var134', 'Var135',
       'Var136', 'Var137', 'Var138', 'Var139', 'Var140', 'Var141',
       'Var142', 'Var143', 'Var144', 'Var145', 'Var146', 'Var147',
       'Var148', 'Var149', 'Var150', 'Var151', 'Var152', 'Var153',
       'Var154', 'Var155', 'Var156', 'Var157', 'Var158', 'Var159',
       'Var160', 'Var161', 'Var162', 'Var163', 'Var164', 'Var165',
       'Var166', 'Var167', 'Var168', 'Var169', 'Var170', 'Var171',
       'Var172', 'Var173', 'Var174', 'Var175', 'Var176', 'Var177',
       'Var178', 'Var179', 'Var180', 'Var181', 'Var182', 'Var183',
       'Var184', 'Var185', 'Var186', 'Var187', 'Var188', 'Var189',
       'Var190', 'Var191', 'Var192', 'Var193', 'Var194', 'Var195',
       'Var196', 'Var197', 'Var198', 'Var199', 'Var200', 'Var201',
       'Var202', 'Var203', 'Var204', 'Var205', 'Var206', 'Var207',
       'Var208', 'Var209', 'Var210', 'Var211', 'Var212', 'Var213',
       'Var214', 'Var215', 'Var216', 'Var217', 'Var218', 'Var219',
       'Var220', 'Var221', 'Var222', 'Var223', 'Var224', 'Var225',
       'Var226', 'Var227', 'Var228', 'Var229', 'Var230'], dtype=object)

In [17]:
# variavel que vai armazenar todas as primeiras 190 colunas do dataset que são apenas de variáveis numéricas
num_vars = np.array(all_vars[:190])
num_vars

array(['Var1', 'Var2', 'Var3', 'Var4', 'Var5', 'Var6', 'Var7', 'Var8',
       'Var9', 'Var10', 'Var11', 'Var12', 'Var13', 'Var14', 'Var15',
       'Var16', 'Var17', 'Var18', 'Var19', 'Var20', 'Var21', 'Var22',
       'Var23', 'Var24', 'Var25', 'Var26', 'Var27', 'Var28', 'Var29',
       'Var30', 'Var31', 'Var32', 'Var33', 'Var34', 'Var35', 'Var36',
       'Var37', 'Var38', 'Var39', 'Var40', 'Var41', 'Var42', 'Var43',
       'Var44', 'Var45', 'Var46', 'Var47', 'Var48', 'Var49', 'Var50',
       'Var51', 'Var52', 'Var53', 'Var54', 'Var55', 'Var56', 'Var57',
       'Var58', 'Var59', 'Var60', 'Var61', 'Var62', 'Var63', 'Var64',
       'Var65', 'Var66', 'Var67', 'Var68', 'Var69', 'Var70', 'Var71',
       'Var72', 'Var73', 'Var74', 'Var75', 'Var76', 'Var77', 'Var78',
       'Var79', 'Var80', 'Var81', 'Var82', 'Var83', 'Var84', 'Var85',
       'Var86', 'Var87', 'Var88', 'Var89', 'Var90', 'Var91', 'Var92',
       'Var93', 'Var94', 'Var95', 'Var96', 'Var97', 'Var98', 'Var99',
       'Var100', 'Var101', 'Var102', 'Var103', 'Var104', 'Var105',
       'Var106', 'Var107', 'Var108', 'Var109', 'Var110', 'Var111',
       'Var112', 'Var113', 'Var114', 'Var115', 'Var116', 'Var117',
       'Var118', 'Var119', 'Var120', 'Var121', 'Var122', 'Var123',
       'Var124', 'Var125', 'Var126', 'Var127', 'Var128', 'Var129',
       'Var130', 'Var131', 'Var132', 'Var133', 'Var134', 'Var135',
       'Var136', 'Var137', 'Var138', 'Var139', 'Var140', 'Var141',
       'Var142', 'Var143', 'Var144', 'Var145', 'Var146', 'Var147',
       'Var148', 'Var149', 'Var150', 'Var151', 'Var152', 'Var153',
       'Var154', 'Var155', 'Var156', 'Var157', 'Var158', 'Var159',
       'Var160', 'Var161', 'Var162', 'Var163', 'Var164', 'Var165',
       'Var166', 'Var167', 'Var168', 'Var169', 'Var170', 'Var171',
       'Var172', 'Var173', 'Var174', 'Var175', 'Var176', 'Var177',
       'Var178', 'Var179', 'Var180', 'Var181', 'Var182', 'Var183',
       'Var184', 'Var185', 'Var186', 'Var187', 'Var188', 'Var189',
       'Var190'], dtype=object)

In [18]:
# variavel que vai armazenar todas as ultimas colunas do dataset que são apenas de variáveis categóricas - as últimas 40 colunas
cat_vars = np.array(all_vars[190:])
cat_vars

array(['Var191', 'Var192', 'Var193', 'Var194', 'Var195', 'Var196',
       'Var197', 'Var198', 'Var199', 'Var200', 'Var201', 'Var202',
       'Var203', 'Var204', 'Var205', 'Var206', 'Var207', 'Var208',
       'Var209', 'Var210', 'Var211', 'Var212', 'Var213', 'Var214',
       'Var215', 'Var216', 'Var217', 'Var218', 'Var219', 'Var220',
       'Var221', 'Var222', 'Var223', 'Var224', 'Var225', 'Var226',
       'Var227', 'Var228', 'Var229', 'Var230'], dtype=object)

### d. Verificando a consistência das variáveis

*O objetivo é verificar o tipo de dado que cada variável possui, se numero, string, objeto, etc. Utilizando a biblioteca PANDAS e a função .dtypes.*

In [20]:
features.dtypes

Var1      object
Var2      object
Var3      object
Var4      object
Var5      object
           ...
Var226    object
Var227    object
Var228    object
Var229    object
Var230    object
Length: 230, dtype: object

#### Pré-processamento dos dados para verificação do tipo de dados em cada variável

*Como o código anterior não detalhou o tipo de dados, precisamos fazer uma verificação mais passo a passo para confirmar se as variaveis numéricas são compostas apenas de números e se as variáveis categórias são compostas apenas por strings.*

*Começamos com a primeira coluna 'Var1':*

In [24]:
# agrupando os dados iguais e contando quantas vezes eles se repetem. Neste código, apenas para a primeira coluna.
var = features.groupby('Var1').size()
var

Var1
       49298
0        380
120        1
128        2
152        1
16        81
24        46
32        23
360        1
392        1
40        10
48         6
536        1
56         5
64         1
680        1
72         3
8        138
80         1
dtype: int64

*Como fica trabalhoso fazer a verificação para cada uma das colunas em separado, a linha de código abaixo fará a análise de forma otimizada:*

*Começamos trabalhando na variável que armazena todas as variaveis numérics, criando uma variável que vai gerar um dataframe pelo Pandas.*

*--> Començando com as variáveis NUMÉRICAS:*

In [46]:
counts_per_column = pd.DataFrame() # criando uma variável fazia no formato Dataframe
for col in num_vars: # vamos pegar cada coluna em num_vars
  col_count = features.groupby(col).size() # e corresponder em features, fazendo a contagem da quantidade de vezes que cada valor aparece em cada coluna
  counts_per_column = counts_per_column.append(col_count, ignore_index = True) # vamos povoar o dataframe a partir do .append

In [37]:
counts_per_column.shape # tamanho do dataframe - são 190 registros ou as colunas de num_vars e 351.788 valores

(190, 351788)

In [38]:
counts_per_column.head(10) # exibindo os 10 primeiros registros do dataframe

                  0  120  128  152  ...  9607.05  966.15  9772.021  98.1  9857.88
0  49298.0    380.0  1.0  2.0  1.0  ...      NaN     NaN       NaN   NaN      NaN
1  48759.0   1240.0  NaN  NaN  NaN  ...      NaN     NaN       NaN   NaN      NaN
2  48760.0    996.0  3.0  NaN  NaN  ...      NaN     NaN       NaN   NaN      NaN
3  48421.0   1561.0  NaN  NaN  NaN  ...      NaN     NaN       NaN   NaN      NaN
4  48513.0    898.0  NaN  NaN  NaN  ...      NaN     NaN       NaN   NaN      NaN
5   5529.0    976.0  NaN  NaN  NaN  ...      NaN     NaN       NaN   NaN      NaN
6   5539.0  13090.0  NaN  NaN  NaN  ...      NaN     NaN       NaN   NaN      NaN
7  50000.0      NaN  NaN  NaN  NaN  ...      NaN     NaN       NaN   NaN      NaN
8  49298.0    144.0  2.0  1.0  1.0  ...      NaN     NaN       NaN   NaN      NaN
9  48513.0    902.0  NaN  NaN  NaN  ...      NaN     NaN       NaN   NaN      NaN

[10 rows x 351788 columns]

In [39]:
counts_per_column.T.shape # .T vai fazer a matriz transposta, invertendo linhas e colunas, agora teremos 190 colunas e 351.788 valores

(351788, 190)

In [42]:
counts_per_column.T.head(10) # agora cada uma das linhas representa um valor e cada coluna representa uma das colunas do dataframe

         0        1        2        3    ...      186      187      188      189
     49298.0  48759.0  48760.0  48421.0  ...  49298.0  48759.0  28978.0  49667.0
0      380.0   1240.0    996.0   1561.0  ...    240.0     44.0      NaN      4.0
120      1.0      NaN      3.0      NaN  ...      NaN      NaN     95.0      NaN
128      2.0      NaN      NaN      NaN  ...      NaN      NaN      NaN      NaN
152      1.0      NaN      NaN      NaN  ...      NaN      NaN      NaN      NaN
16      81.0      NaN      NaN      NaN  ...     15.0      NaN      NaN      NaN
24      46.0      NaN      1.0      NaN  ...     12.0      NaN      2.0      NaN
32      23.0      NaN      NaN      NaN  ...      3.0      NaN      NaN      NaN
360      1.0      NaN      NaN      NaN  ...      NaN      NaN    354.0      NaN
392      1.0      NaN      NaN      NaN  ...      NaN      NaN      NaN      NaN

[10 rows x 190 columns]

*Agora vamos fazer uma codificação adicional, transformando o dataframe no layout definitivo transverso e verificando se todos os valores são realmente números:*

In [47]:
counts_per_column = counts_per_column.T # formato definitivo do dataframe
counts_per_column.index = counts_per_column.index.astype('str') # vai buscar apenas dados tipo string
counts_per_column.sort_index(inplace=True) # vai fazer a ordenação das variáveis a partir do index
print('Primeiras 10 categorias: ', counts_per_column.index[:10]) # mostrando os primeiros 
print('Últimas 10 categorias: ', counts_per_column.index[(len(counts_per_column.index)-10):])

Primeiras 10 categorias:  Index(['', '-10', '-1000060.0', '-10002.16', '-100034.8', '-1000420.0',
       '-1000468.0', '-1000496.0', '-1000516.0', '-1000548.0'],
      dtype='object')
Últimas 10 categorias:  Index(['9999040', '999920', '9999240', '99993', '9999400', '9999440',
       '9999480', '99995', '99996', '999971'],
      dtype='object')

*--> Fazendo o mesmo processo agora com as variáveis CATEGÓRICAS:*

In [48]:
counts_per_column = pd.DataFrame() # criando uma variável fazia no formato Dataframe
for col in cat_vars: # vamos pegar cada coluna em cat_vars
  col_count = features.groupby(col).size() # e corresponder em features, fazendo a contagem da quantidade de vezes que cada valor aparece em cada coluna
  counts_per_column = counts_per_column.append(col_count, ignore_index = True) # vamos povoar o dataframe a partir do .append

In [49]:
counts_per_column = counts_per_column.T # formato definitivo do dataframe
counts_per_column.index = counts_per_column.index.astype('str') # vai buscar apenas dados tipo string
counts_per_column.sort_index(inplace=True) # vai fazer a ordenação das variáveis a partir do index
print('Primeiras 10 categorias: ', counts_per_column.index[:10]) # mostrando os primeiros 
print('Últimas 10 categorias: ', counts_per_column.index[(len(counts_per_column.index)-10):])

Primeiras 10 categorias:  Index(['', '000J', '0062', '00AD', '00ARusu', '00AYONy', '00AhP4J', '00J8E9a',
       '00JHTSP', '00L3'],
      dtype='object')
Últimas 10 categorias:  Index(['zzQ9udm', 'zzQV', 'zzbGOGx', 'zzbGa54', 'zzcv6yg4s3UGv', 'zzfHvGh',
       'zzfLM_S', 'zzfUfAI', 'zzfo6HG', 'zzpZ'],
      dtype='object')

*Agora vamos fazer o tratamento dos VALORES FALTANTES, substituindo os espaços vazios por NaN*

In [50]:
# Utilizando a função .nan do Numpy, vamos substituir por NaN
features = features.replace('', np.nan)

In [51]:
# verificando se houve a substituição
features.head(10)

  Var1 Var2 Var3 Var4  ...   Var227                  Var228 Var229  Var230
0  NaN  NaN  NaN  NaN  ...     RAYp           F2FyR07IdsN7I    NaN     NaN
1  NaN  NaN  NaN  NaN  ...     RAYp           F2FyR07IdsN7I    NaN     NaN
2  NaN  NaN  NaN  NaN  ...  02N6s8f           ib5G6X1eUxUn6   am7c     NaN
3  NaN  NaN  NaN  NaN  ...     RAYp           F2FyR07IdsN7I    NaN     NaN
4  NaN  NaN  NaN  NaN  ...     RAYp           F2FyR07IdsN7I   mj86     NaN
5  NaN  NaN  NaN  NaN  ...  02N6s8f                 Zy3gnGM   am7c     NaN
6  NaN  NaN  NaN  NaN  ...     RAYp                 55YFVY9   am7c     NaN
7  NaN  NaN  NaN  NaN  ...     RAYp           F2FyR07IdsN7I    NaN     NaN
8  NaN  NaN  NaN  NaN  ...     6fzt  am14IcfM7tWLrUmRT52KtA   am7c     NaN
9  NaN  NaN  NaN  NaN  ...     RAYp                 55YFVY9    NaN     NaN

[10 rows x 230 columns]

### e. Seleção de variáveis

#### Variáveis com muitos valores faltantes

#### Variáveis categóricas com muitas categorias

#### Seleção de variáveis baseaa em árvores de decisão

### f. Dividindo os dados em dataset para treino e dataset para teste

#### Modelagem preliminar

### d. Verificando a consistência das variáveis