<a href="https://colab.research.google.com/github/EliGorniak/KDD_Cup2009_MachineLearning_Kaggle_Project/blob/main/KDD_Cup_2009_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Estudo de caso: KDD Cup 2009

A Administração de Relacionamento com o Consumidor é um elemento-chave das estratégias modernas de marketing. A maneira mais prática de adquirir conhecimento sobre consumidores é produzindo pontuações. Uma pontuação é a saída de um modelo e serve como avaliação de todas as instâncias de uma variável-alvo que se pretenda explicar. Ferramentas que produzem pontuações permitem projetar informações quantificáveis em uma dada população. A pontuação é calculada usando variáveis de entrada que descrevem as instâncias. As pontuações são então usadas pelo sistema de informação, por exemplo, para personalizar o relacionamento com o consumidor.

Em 2009, a conferência Knowledge Discovery and Data Mining (KDD) lançou um desafio envolvendo aprendizagem de máquina. Ela disponibilizou dados de consumidores da empresa de telecomunicações francesa Orange, que deveriam ser utilizados para a construção de um modelo capaz de prever três comportamentos do consumidor. A planilha fornecida tem 50000 instâncias e 230 variáveis, sendo as primeiras 190 variáveis numéricas e as demais 40 categóricas. As variáveis de saída do modelo eram o cancelamento da conta ('churn'), a tendência de usar novos produtos e serviços ('appetency') e a propensão para comprar upgrades ou adicionais com maior margem de lucro quando apresentados (upselling), fornecidos de forma binária (-1 para *não*, 1 para *sim*).

O trabalho apresentado aqui envolve a criação de um modelo para predição de *churn*, *appetency* e *upselling* com base nos dados fornecidos dos clientes da Orange. O critério para avaliação do modelo será a métrica AUC, que dimensiona o trade-off entre taxa de falsos positivos e taxa de verdadeiros positivos: quanto mais próximo de 1, menor o trade-off e melhor o modelo.

Detalhes sobre a competição: https://www.kdd.org/kdd-cup/view/kdd-cup-2009

# Etapa 1: Modelando 'churn' (cancelamento da conta)

### a. Importando as dependências

In [5]:
import pandas as pd
import numpy as np
from sklearn.ensemble import ExtraTreesClassifier, RandomForestClassifier, GradientBoostingClassifier # algoritmos de classificação
from matplotlib import pyplot as plt # plotagem de gráficos
from sklearn.metrics import  roc_auc_score # AUC será a métrica de avaliação exigida na competição
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV # testar a performance dos modelos

### b. Carregando os dados

In [7]:
# definindo as variáveis que vão receber os dados
features = pd.read_csv('/orange_small_train.data', sep = '\t', na_filter = False) # sep é o separador, \t é uma tabulação, na_filter = False não vai remover os atributos com valores faltantes
outcome = pd.read_csv('/orange_small_train_churn.labels', header= None) # outcome são as respostas, header = None significa que não há um header para dar nome pras colunas

In [8]:
# verificando o tamanho do dataset
features.shape

(50000, 230)

In [10]:
features.head()

  Var1 Var2 Var3 Var4 Var5  ... Var226   Var227         Var228 Var229 Var230
0                           ...   xb3V     RAYp  F2FyR07IdsN7I
1                           ...   fKCe     RAYp  F2FyR07IdsN7I
2                           ...   Qu4f  02N6s8f  ib5G6X1eUxUn6   am7c
3                           ...   FSa2     RAYp  F2FyR07IdsN7I
4                           ...   FSa2     RAYp  F2FyR07IdsN7I   mj86

[5 rows x 230 columns]

In [11]:
outcome.head()

   0
0 -1
1  1
2 -1
3 -1
4 -1

In [13]:
# verificando os valores únicos do dataset
np.unique(outcome)

array([-1,  1])

### c. Identificando as variáveis numéricas e categóricas

### d. Verificando a consistência das variáveis

### e. Seleção de variáveis

#### Variáveis com muitos valores faltantes

#### Variáveis categóricas com muitas categorias

#### Seleção de variáveis baseaa em árvores de decisão

### f. Dividindo os dados em dataset para treino e dataset para teste

#### Modelagem preliminar

### d. Verificando a consistência das variáveis